$primary-bg-dark: #1C211F;
$primary-bg-dark-card: #2F3733;
// $primary-bg-dark2:rgb(42, 150, 105)2;
$primary-Color-dark: #F2F3F2;
$secondry-color-dark-hover: #0B9D5D;
$secondry-color-grey: #DEE3EC;
$secondry-color-text-grey: #C6CEDB;
$primary-bg-light: #F5F8FD;
$primary-bg-light-card-2:#E6EFEB;
$primary-Color-light: #252826;
$secondry-color-light:#A8B1C4;
$secondry-color-light-hover: #424242;
$secondry-border: rgba(194, 194, 194, 0.2);
$primary-border: rgba(194, 194, 194, 0.692);
$font-size-xsm: 1.2rem;
$font-size-sm: 1.6rem;
$font-size-md: 2.4rem;
$font-size-lg: 3rem;
$font-size-xl: 4rem;
$gap: 2rem;
$margin-sm: 2rem;
$margin-md: 3rem;
$item-min-height-sm: 20rem;
$item-min-height-md: 30rem;
